.lightDark {
    display: flex;
    position: absolute;
    right: 10%;
    top: 1%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* border: 1px solid white; */
    cursor: default;
}

footer > a:hover {
    text-decoration: underline;
    cursor: pointer;
}